<div class="popup">    
    <div class="popup__header">
        <div class="popup__header-label"></div>
        <div class="popup__header-adress"></div>
        <div class="popup__close"></div>     
    </div> 
    <div class="popup__wrap">   
        <div class="popup__reviews">
            <ul class="popup__reviews-list"></ul>
        </div>
        <hr class="hr" noshade="1px">
        <form action="" class="form__reviews">
            <div class="form__title">ВАШ ОТЗЫВ</div>
            <input type="text" class="user-name form__input" placeholder="Ваше имя">
            <input type="text" class="place form__input" placeholder="Укажите место">
            <textarea name="" class="reviews-text form__input" id="" placeholder="Поделитесь впечатлениями"></textarea>
            <button class="button__add" type="submit">Добавить</button>
        </form>        
    </div>    
</div>