*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');
body {
    position: relative;
}

.popup {
    width: 380px;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.popup__header {
    height: 45px;
    background-color: #ff8663;
    border-radius: 10px 10px 0 0;
    font-size: 12pt;
    color: #ffffff;
    position: relative;
}

.popup__header-label {
    width: 8px;
    height: 100%;
    background-image: url(../img/label.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    margin-left: 15px; 
    display: inline-block;  
}

.popup__header-adress {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    margin-right: 26px;
}

.popup__close {
    width: 11px;
    height: 100%;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 12px;

}

.popup__wrap {
    padding: 0 15px 0 15px;
    margin-top: 15px;
}

.popup__reviews {
    height: 155px;
    overflow: auto;
}

.popup__item-name {
    font-weight: 500;
    font-size: 16pt;
}

.popup__item-place {
    font-weight: 400;
    color: #4f4f4f;
    font-size: 16pt;
}

.popup__item-date {
    font-weight: 400;
    color: #4f4f4f;
    font-size: 14pt;
}

.popup__item-reviews {
    font-size: 15pt;
    color: #4f4f4f;
    font-weight: 400;
}

.hr {
   opacity: 0.1;
}

.form__reviews {
    margin-top: 15px;
}

.form__title {
    color: #ff8663;
    font-size: 16pt;
    margin-bottom: 15px;
    font-weight: 500;
}

.form__input {
    display: block;
    width: 100%;
    margin-top: 14px;
    border-radius: 20px;
    outline: none;
    border: solid 1px #c4c4c4;
    padding: 11px 15px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 15pt;
}

.reviews-text {
    resize: none;
    height: 130px;
}

.button__add {
    padding: 10px 17px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    border: none;
    background-color: #ff8663;
    color: #ffffff;
    margin-left: auto;
    margin-right: 0;
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;  
}